<div id="carouselExampleSlidesOnly" class="mb-3 carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" style="height:300px"; src='https://images.unsplash.com/photo-1626438986057-4622590843a3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYyNjUyODUyMQ&ixlib=rb-1.2.1&q=80&w=1080' alt="First slide">
    </div>
  </div>
</div>
