  <% @lists.each do |list| %>
    <div class="col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          <% if list.photo.attached?  %>
            <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
          <% else %>
            <img class="card-img-top" src="https://source.unsplash.com/random/800x400" alt="Card image cap">
          <% end  %>
          <%= link_to list.name, list_path(list) %></p>
        </div>
      </div>
    </div>
  <% end  %>
