<div class="cards">
<% @lists.each do |list| %>
<div class="card-trip">
  <%= cl_image_tag list.photo.key, height: 500, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <%= link_to list.name, list_path(list) %>
    </div>
    <%= link_to list_path(list), method: :delete  do%>
      <i class="fas fa-minus-circle"></i>
      <% end %>
  </div>
</div>
  <% end %>
</div>
